*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #F8F8FD;
}

nav,.first, .second, .third, .fourth, .sixth, .seventh-container {
    margin-right: 5%;
    margin-left: 5%;
}

nav {
    margin-top: 50px;
    margin-bottom: 100px;
    display: flex;
    justify-content:space-between ;
    /* flex-basis: 100px; */
    /* width: 100%; */
    /* background-color: aqua; */
}

nav .links {
    width: 40%;
}

nav ul {
    display: flex;
    align-self: center;
    justify-content: space-between;

}

nav ul li {
    list-style: none;
    margin: 5px;
    color: #16054E;
    
}

nav .button{
    width: 20%;
}

nav button  {
    width: 50%;
    height: 50px;
    border-radius: 25px;
    border: none;
    background-color: #8D6CFA;
    a{
        color: white;
    }
}


.nav-button:hover {
    transition: 1s;
    transform:scale(1.1);
}

nav a {
    text-decoration: none;
    color: black;
}

nav .logo {
    width: 20%;
}
nav img {
    margin-right: 450px;
    flex-shrink: 0;
    flex-grow: 0;
}

/* first div */

.first {
    display: flex;
}

.first .phone {
    background-image: url(Assets/Images/Ellipse\ 14.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 50%;
    /* float: right; */
}

.first .phone img {
    width: 100%;
}

.first .text {
    width: 50%;
    float: left;
}
.first .text h2 {
    width: 80%;
    font-family: p;
    font-size: 50px;
    color: #16054E;
    span {
        color: #8D6CFA;
    }
}

.first .text p {
    font-size: 30px;
    margin-bottom: 70px;
    color: #8B82A7;
} 

.first .text form {
    input {
        width: 60%;
        height: 50px;
        border: 1px solid #DED7F6;
    }
    button {
    height: 50px;
    width: 30%;
    border-radius: 25px;
    border: none;
    background-color:blueviolet;
    a{
        color: white;
    }
    }
}


h1 {
    padding-top: 250px;
    clear: both;
    text-align: center;
    font-size: 3rem;
    font-weight: bolder;
    color: #16054E;
}

/* SECOND DIV */

.second {
    margin-left: 5%;
    border-radius: 30px;
    margin-top: 100px;
    background-color: blueviolet;
    display: flex;
}

.second .text {
    width: 40%;
    align-self: center;
    color: white;
    margin-left: 5%;
}

.second .text h2 {
    font-size: 3rem;
    margin-bottom: 30px;
}

.second .text p{
    font-size: 1.5rem;
}


.second .image {
    display: flex;
    width: 50%;
}
.second .image img {
    width: 100%;
}

/* THIRD DIV  */
.third {
    background-color: gray;
    margin-top: 50px;
   
}

.third .prebuilt {
    width: 45%;
    float: left;
    background-color: #ffffff;
    border-radius: 20px;
}
.third .prebuilt section {
    width: 80%;
    margin-left: 10%;
}

.third .prebuilt h2 {
    margin-top: 40px;
    font-size: 2.5rem;
    color: #16054E;
    margin-bottom: 20px;
}

.third .prebuilt p {
    font-size: 1.5rem;
    margin-left: 0;
    color: #8B82A7;
}

/* PREBUILT IMAGES */
.third .prebuilt div {
    display: flex;
}

.third .prebuilt .one {
    width: 45%;
 margin-top: 100px;
}

.third .prebuilt .two {
 width: 40%;
 border-radius: 20px;
 margin-top: 50px;align-self: flex-start;

}



.third .social_investing {
    width: 50%;
    float: right;
    background-color: #4ECC4E;
    border-radius: 20px;
}

.third .social_investing section {
    width: 80%;
    margin-left: 10%;
}

.third .social_investing h2 {
    margin-top: 40px;
    font-size: 2.5rem;
    color: #ffffff;
    margin-bottom: 20px;
}

.third .social_investing p {
    font-size: 1.5rem;
    margin-left: 0;
    color: #ffffff;
}

.third .social_investing div {
    display: flex;
}
.third .social_investing img {
    justify-self: center;
   width: 100%;
}





/* PARTNERS */

.partners div{
    clear: both;
    padding-top: 100px;
    width: 100%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.partners div {
    margin-top: 0;
}

.partners div section {
   height: 60px;
   width: 16%;
}

.partners div section img {
    display: flex;
    width: 100%;
}

/* FOURTH  */

.fourth {
    margin-top: 100px;
}

.fourth .heading {
    width: 60%;
    margin-left: 20%;
    
}
.fourth h2 {
    text-align: center;
    justify-content: center;
    font-size: 3rem;
    color: #16054E;

    span{
        color: #8D6CFA;
    }
}

.fourth .tabs {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 80px;
    justify-content: space-between;
}

.fourth .tabs .tab img {
    display: block;
    width: 35%;
    height: 50%;
    position: relative;
    top: -60px;
    left: 30%;
    margin-bottom: 0;
}

.fourth .tabs .tab {
    width: 30%;
    height: fit-content;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 20px;
}

.fourth .tabs .tab p,h3 {
    width: 80%;
    margin-left: 10%;
   text-align: center;
   color: #16054E;
}

.fourth .tabs .tab p {
    margin-bottom: 10px;
    color: #8B82A7;
}
.fourth .tabs .tab h3 {
    width: 60;
    margin-bottom: 20px;
}

/* FIFTH  */

.fifth {
    background-color: #060125;
    background-image: url(Assets/Images/Vector\ black.png);
    display: flex;
    justify-content: space-between;
    color: white;
    margin-bottom: 150px;
}

.fifth div {
    margin: 20px 10px 0 20px;
    width: 45%;
}

.fifth .texts {
    width: 55%;
 margin-top: 50px;
 margin-left: 5%;
 padding-left: 5%;
 display: grid;
 grid-template-rows: auto auto auto;
 grid-template-rows: auto ;
 height: fit-content;
}
.fifth .texts h2 {
 margin: 100px 0 50px;
 width:90%;
 
 font-size: 3.5rem;
 
}

.fifth .texts p {
 margin: 0 0 50px;
 width: 60%;
 font-size: 1.5rem;
}

.fifth .image {
 height: 100%;
}

.fifth .image img {
    width: 100%;
}

.fifth .texts button {
    width: 30%;
    height: 50px;
    border-radius: 25px;
    border: none;
    background-color: #8D6CFA;
    
    a {
        color: #fff;
        text-decoration: none;
    }
}

/* BREAK  */

.break h2 {
    text-align: center ;
    font-size: 3rem;
    margin-bottom: 20px;
    color: #16054E;
}

.break p {
    text-align: center;
    font-size: 1.5rem;
    color: #8B82A7;
}

/* SIXTH  */

.sixth {
padding-top: 100px;
}

.sixth .top {
    /* background-color: lightgray; */
}

.sixth .top{
    margin-bottom: 100px;
}


.sixth .top .image, .texts {
    width: 50%;
}

.sixth .top .texts h2 {
    width: 80%;
    color: #16054E;
}

.sixth .texts h2 {
    font-size: 2.5rem;
}

.sixth .top .texts p {
    width: 100%;
    margin-left: 0;
    font-size: 1.5rem;
    color: #8B82A7;
}

.sixth .buttom {
    display: flex;
}

.sixth .top, .buttom {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.sixth .buttom .image, .texts {
    width: 40%;
}


.sixth .buttom .texts h2 {
    width: 80%;
    margin-left: 20%;
    color: #16054E;
}

.sixth .buttom .texts p {
    width: 100%;
    margin-left: 20%;
    font-size: 1.5rem;
    color: #8B82A7;
}

.sixth img {
    width: 100%;
}

/* SEVENTH  */

.seventh {
    background-image: url(Assets/Images/Vector\ green.png);
    margin-bottom: 10px;
}

.seventh .text{
    width: 100%;
    padding-top: 150px;
}

.seventh .text h2 {
    width: 50%;
    font-size: 4rem;    
    color: #16054E;
}
.seventh span {
    color: #4ECC4E;
}

.seventh .seventh-container #images .image {
    width: 45%;
} 

.seventh #images {
    display: flex; 
    justify-content: space-between;
}
.seventh #images .main {
    width: 100%;
}

.seventh #images .image .plus {
    position: relative;
    top:-75%;
    left: 90%;
    flex-shrink: inherit;
}

.seventh #images .image h2 {
    width: 40%;
    font-size: 3rem;
    display: inline-flex;
    position: relative;
    top:-50%;
    left: -5%;
    color: white;
}

/* EIGHT  */

.eight {
    
    display: flex;
    justify-content: space-between;
    /* color: white */
    /* margin-bottom: 150px; */
}

.eight div {
    margin: 20px 10px 0 20px;
    width: 45%;
}

.eight .texts {
    width: 60%;
 /* margin-top: 0px; */
 margin-left: 5%;
 padding-left: 5%;
 display: grid;
 grid-template-rows: auto auto auto;
 grid-template-rows: auto ;
 height: fit-content;
}
.eight .texts h2 {
 margin: 10px 0 50px;
 width:100%;
 color: #16054E;
 font-size: 3.5rem;
 
}

.eight .texts span {
    color: #8D6CFA;
    font-weight: 700;
}
.eight .texts p {
 margin: 0 0 50px;
 width: 60%;
 font-size: 1.5rem;
 color: #8B82A7;
}

.eight .image {
 height: inherit;
}

.eight .image img {
    width: 60%;
    margin-left: 30%;
    /* height: 70%; */
}

.eight .texts button {
    width: 30%;
    height: 50px;
    border-radius: 25px;
    border: none;
    background-color: #8D6CFA;
    a {
        color: white;
        text-decoration: none;
    }
}

/* NINTH  */

.ninth {
    background-image: url(Assets/Images/daba\ city\ 1.png);
    height: 848.71px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    
}

.ninth div button { 
    display: flex;
    margin-left: 45%;
    padding: 20px 35px;
    border-radius: 50px;
    border: none;
    background-color: #8D6CFA;
    a {
        text-decoration: none;
        color: white;
    }
    
}

.ninth div h2 {
    width: 80%;
    margin-left: 10%; 
    text-align: center;
    margin-bottom:30px ;
    line-height: 110%;
    font-size: 48px;
    font-weight: 700;
    color: white;
}

/* TENTH  */

.tenth {
    background-color: #060125;
display: flex;
flex-wrap: wrap;
margin-right: 0;
}

.tenth .left, .right {
    width: 50%;
    margin-top: 5%;
}
.tenth .left {
    width: 45%;
    margin-top: 10%;
    display: grid;
    height: 80%;
    margin-left: 5%;
    color: white;
}

.tenth .left h2 {
    width: 80%;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 40px;
}

.tenth .left p {
    margin-left: 0;
    width: 90%;
    font-size: 1.5rem;
    margin-bottom: 40px;
}

.tenth .left form {
    display: flex;
    width: 90%;
    height: 50px;
}

.tenth .left form input {
    width: 60%;
    border-radius: 5px;
    border: 1px solid #DED7F6;
    margin-right: 5%;
}

.tenth .left button {
    width: 30%;
    background-color: #8D6CFA;
    a {
        text-decoration: none;
        color: white;
    }

    border-radius: 40px;
    border: none;
}


.tenth .right img {
    width: 100%;
}

/* FOOTER  */

footer {
    background-color: #060125;
    padding: 40px 0;
    
}

footer div {
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    color: #FFF;

}

footer img {
/* width: 10%; */
}

footer h3 {
justify-content: center;
color: #ffffff;
align-items: center;

}

footer ul {
    display: flex;
    list-style: none;
}
footer ul li {
    margin-left: 10px;
}