*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav,.first, .second, .third, .fourth, .sixth, .seventh-container {
    margin-right: 5%;
    margin-left: 5%;
}

nav {
    margin-top: 50px;
    margin-bottom: 100px;
    display: flex;
    justify-content:space-between ;
    /* flex-basis: 100px; */
    /* width: 100%; */
    /* background-color: aqua; */
}

nav .links {
    width: 40%;
}

nav ul {
    display: flex;
    align-self: center;
    justify-content: space-between;

}

nav ul li {
    list-style: none;
    margin: 5px;
    
}

nav .button{
    width: 20%;
}

nav button  {
    width: 50%;
    height: 50px;
    border-radius: 25px;
    border: none;
    background-color: blueviolet;
    a{
        color: white;
    }
}

.nav-button {
    transition: ;
}
.nav-button:hover {
    transition: 1s;
    transform:scale(1.1);
}

nav a {
    text-decoration: none;
    color: black;
}

nav .logo {
    width: 20%;
}
nav img {
    margin-right: 450px;
    flex-shrink: 0;
    flex-grow: 0;
}

/* first div */

.first .phone {
    width: 50%;
    float: right;
}

.first .text {
    width: 50%;
    float: left;
}
.first .text h2 {
    width: 80%;
    font-size: 50px;
    strong {
        color: blueviolet;
    }
}

.first .text p {
    font-size: 30px;
    margin-bottom: 70px;
} 

.first .text form {
    input {
        width: 60%;
        height: 50px;
    }
    button {
    height: 50px;
    width: 30%;
    border-radius: 25px;
    border: none;
    background-color:blueviolet;
    a{
        color: white;
    }
    }
}


h1 {
    padding-top: 250px;
    clear: both;
    text-align: center;
    font-size: 3rem;
    font-weight: bolder;
}

/* SECOND DIV */

.second {
    margin-left: 5%;
    border-radius: 30px;
    margin-top: 100px;
    background-color: blueviolet;
    display: flex;
}

.second .text {
    width: 40%;
    align-self: center;
    color: white;
    margin-left: 5%;
}

.second .text h2 {
    font-size: 3rem;
    margin-bottom: 30px;
}

.second .text p{
    font-size: 1.5rem;
}


.second .image {
    display: flex;
    width: 50%;
}
.second .image img {
    width: 100%;
}

/* THIRD DIV  */
.third {
    background-color: gray;
    margin-top: 50px;
   
}

.third .prebuilt {
    width: 45%;
    float: left;
    background-color: gray;
    border-radius: 20px;
}
.third .prebuilt section {
    width: 80%;
    margin-left: 10%;
}

.third .prebuilt h2 {
    margin-top: 40px;
    font-size: 2.5rem;
}

.third .prebuilt p {
    font-size: 1.5rem;
}

/* PREBUILT IMAGES */
.third .prebuilt div {
    display: flex;
}

.third .prebuilt .one {
    width: 45%;
 margin-top: 100px;
}

.third .prebuilt .two {
 width: 40%;
 border-radius: 20px;
 margin-top: 50px;align-self: flex-start;

}



.third .social_investing {
    width: 50%;
    float: right;
    background-color: blueviolet;
    border-radius: 20px;
}

.third .social_investing section {
    width: 80%;
    margin-left: 10%;
}

.third .social_investing h2 {
    margin-top: 40px;
    font-size: 2.5rem;
}

.third .social_investing p {
    font-size: 1.5rem;
}

.third .social_investing div {
    display: flex;
}
.third .social_investing img {
    justify-self: center;
   width: 100%;
}





/* PARTNERS */

.partners div{
    clear: both;
    padding-top: 100px;
    width: 100%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.partners div {
    margin-top: 0;
}

.partners div section {
   height: 60px;
   width: 16%;
}

.partners div section img {
    display: flex;
    width: 100%;
}


.fourth {
    background-color: aliceblue;
    margin-top: 100px;
}

.fourth .heading {
    width: 60%;
    margin-left: 20%;
    
}
.fourth h2 {
    text-align: center;
    justify-content: center;
    font-size: 3rem;

    strong{
        color: blueviolet;
    }
}

.fourth .tabs {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 80px;
    justify-content: space-between;
}

.fourth .tabs .tab img {
    display: block;
    width: 35%;
    height: 50%;
    position: relative;
    top: -60px;
    left: 30%;
    margin-bottom: 0;
}

.fourth .tabs .tab {
    width: 30%;
    height: fit-content;
    justify-content: space-between;
    background-color: blue;
    border-radius: 20px;
}

.fourth .tabs .tab p,h3 {
    width: 80%;
    margin-left: 10%;
   text-align: center;
}

.fourth .tabs .tab p {
    margin-bottom: 10px;
}
.fourth .tabs .tab h3 {
    width: 60;
    margin-bottom: 20px;
}

/* FIFTH  */

.fifth {
    background-color: black;
    background-image: url(Assets/Images/Vector\ black.png);
    display: flex;
    justify-content: space-between;
    color: white;
    margin-bottom: 150px;
}

.fifth div {
    margin: 20px 10px 0 20px;
    width: 45%;
}

.fifth .texts {
    width: 55%;
 margin-top: 50px;
 margin-left: 5%;
 padding-left: 5%;
 display: grid;
 grid-template-rows: auto auto auto;
 grid-template-rows: auto ;
 height: fit-content;
}
.fifth .texts h2 {
 margin: 100px 0 50px;
 width:90%;
 
 font-size: 3.5rem;
 
}

.fifth .texts p {
 margin: 0 0 50px;
 width: 60%;
 font-size: 1.5rem;
}

.fifth .image {
 height: 100%;
}

.fifth .image img {
    width: 100%;
}

.fifth .texts button {
    width: 30%;
    height: 50px;
    border-radius: 25px;
    border: none;
    background-color: blueviolet;
}

/* BREAK  */

.break h2 {
    text-align: center ;
    font-size: 3rem;
    margin-bottom: 20px;
}

.break p {
    text-align: center;
    font-size: 1.5rem;
}

/* SIXTH  */

.sixth {
padding-top: 100px;
}

.sixth .top {
    background-color: lightgray;
}

.sixth .buttom {
    background-color: lightpink;
}

.sixth .top, .buttom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}
.sixth .top{
    margin-bottom: 100px;
}


.sixth.top .image, .texts {
    width: 50%;
}

.sixth .texts h2, p {
    width: 80%;
    margin-left: 10%;
}

.sixth .texts h2 {
    font-size: 2.5rem;
}

.sixth .texts p {
    font-size: 1.5rem;
}

.sixth img {
    width: 100%;
}

/* SEVENTH  */

.seventh {
    background-color: blue;
}

.seventh .text{
    width: 100%;
    padding-top: 150px;
}

.seventh .text h2 {
    width: 50%;
    font-size: 4rem;
}

.seventh .seventh-container #images .image {
    width: 45%;
} 

.seventh #images {
    display: flex; 
    justify-content: space-between;
}
.seventh #images .main {
    width: 100%;
}

.seventh #images .image .plus {
    position: relative;
    top:-80%;
    left: 90%;
    flex-shrink: inherit;
}




